header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: flex;
  background-color: rgb(205, 138, 15);
  height: 400px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  padding: 10px;
  z-index: 0;
  background-image: url(http://www.transparenttextures.com/patterns/crissxcross.png);
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  display: flex;
}

.name {
  margin-top: -30px;
}
