nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100vw;
    background-color: #4056A1;
    color: #FFFFFF;
    padding: 1.5em;
    position: fixed;

}


nav span {
    font-family: 'Bungee', cursive;
    font-size: 1.8em;
}

.write {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    font-size: 1em;

  }
  

